<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /boombeene

    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /boombeene/index.php?/$1 [L]

    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /boombeene/index.php?/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /boombeene/index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule> 